# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pyz
*.pyc
*.so
*.egg
*.egg-info/
dist/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.env
.venv/
env/
venv/
ENV/

# Install
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Test
.tox/
coverage.xml
.htmlcov/
.pytest_cache/

# OS
.DS_Store
Thumbs.db